.SearchPage {
    width: 100%;
    padding: 50px 20px 20px 20px;
    min-height: 100vh;
    height: 100%;
    background-color: black;

}
.search {
    width: 90%;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    position: fixed;
    text-align: center;
    justify-content: space-around;
    margin-bottom: 20px;
}
.search input {
    outline: none;
    width: 90%;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 7px;
}
.search button {
    border: none;
    background-color: transparent;
    outline: none;
}


/* .notFound {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    color: white;
    height: 100px;
    background-color: aquamarine;
} */
